<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:task="http://www.springframework.org/schema/task"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
            http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">
            

<!--     <context:property-placeholder location="classpath:application.properties" /> -->

    <bean id="storagehash" class="com.unister.semweb.superfast.storage.bucket.hashfunction.FirstBitHashFunction">
        <constructor-arg name="buckets" value="64" />
    </bean>

    <bean id="repository" class="com.unister.semweb.superfast.storage.UrlDataRepositoryImpl" scope="singleton"
        destroy-method="shutdown">
        <constructor-arg name="bucketSize" value="100000" />
        <constructor-arg name="sizeOfPreQueue" value="100000" />
        <constructor-arg name="hashFunction" ref="storagehash" />
        <constructor-arg name="numberOfBufferThreads" value="4" />
        <constructor-arg name="pathToDatabaseFiles" value="/tmp/filestorage/db" />
        <constructor-arg name="pathToTemporaryFiles" value="/tmp/filestorage/tmp" />
        <constructor-arg name="pathToFinalUrlFiles" value="/tmp/filestorage/url" />
    </bean>
            
   
    <bean id="mBeanExporter" class="org.springframework.jmx.export.MBeanExporter" destroy-method="unregisterBeans">
        <property name="autodetect" value="true" />
        <property name="assembler" ref="metadataMBeanInfoAssembler" />
		<property name="namingStrategy" ref="namingStrategy"></property>
<!-- 		<property name="autodetectMode" > -->
<!-- 			<util:constant static-field="org.springframework.jmx.export.MBeanExporter.AUTODETECT_ALL" /> -->
<!-- 		</property> -->
    </bean>

    <!-- will create management interface using annotation metadata -->
    <bean id="metadataMBeanInfoAssembler" class="org.springframework.jmx.export.assembler.MetadataMBeanInfoAssembler">
        <property name="attributeSource" ref="jmxAttributeSource" />
    </bean>

    <bean id="jmxAttributeSource" class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />

    <!-- will pick up the ObjectName from the annotation -->
    <bean id="namingStrategy" class="com.unister.semweb.pipeline.jmx.MBeanRuntimeNamingStrategy">
    	<constructor-arg name="domain" value="URL-Frontier"/>
        <property name="attributeSource" ref="jmxAttributeSource" />
    </bean>
</beans>